header {
  background-color: rgb(179, 176, 176);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-content: center;
}

header a.title {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
}

header span.user {
  font-weight: 600;
}

section.main {
  padding: 20px;
}
